body {
    margin: 0;
    font-family: sans-serif;
}

#ad img{
    height: 400px;
    width: 600px;
}

#ad {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -300px;
}

.exit {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}